<?xml version="1.0" encoding="UTF-8"?>
<!-- debug false means we get no messages about logback itself -->
<configuration debug="false">
    <property name="LOG_PATH" value="logs/"/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive"/> 
    <timestamp key="timestamp-by-day" datePattern="yyyymmdd"/>
    
    <!--
    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %M %msg%n</pattern>
        </encoder>
    </appender>
    -->
    
    <!-- File makes a single debug file -->
    <!-- 
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender> -->
    
    <!-- RollingFile Appender makes a new file every day, keeps max 10 days in archive -->
    <appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/applikaasie.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/%d{yyyy-MM-dd}.applikaasie.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%d{HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>  
  
  
    <!-- Sets logging level for specific packages. -->
    <!-- Turn this on for development debugging -->
<!--    <logger name="com.boerpiet" level="trace" >
        <appender-ref ref="Console-Appender"/>
    </logger>-->

    <!-- Set logging for complete project --> 
    <root level="info">
        <!-- <appender-ref ref="FILE" /> -->
        <appender-ref ref="RollingFile-Appender"/>
    </root>
</configuration>