<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<root>
    <mainMenu login='piet'>
        <!-- @id =unique number in mainmenu, number is selection number, action is action to be done -->
        <menuItem id="1" number='1' action='submenu' name='Kazen'>
            <menuItem id="11" number='1' action='nieuwArtikel'>Voeg nieuwe kaas toe</menuItem>
            <menuItem id="12" number='2' action='wijzigKaas'>Zoek kaas om te wijzigen</menuItem>
            <menuItem id="13" number='3' action='verwijderKaas'>Zoek kaas om te verwijderen</menuItem>
            <menuItem id="14" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id="2" number='2' action='submenu' name='Accounts'>
            <menuItem id="21" number='1' action='nieuwAccount'>Voeg nieuw account toe</menuItem>
            <menuItem id="22" number='2' action='wijzigAccount'>Zoek account om te wijzigen</menuItem>
            <menuItem id="23" number='3' action='verwijderAccount'>Zoek account om te verwijderen</menuItem>
            <menuItem id="24" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id="3" number='3' action='submenu' name='Klanten'>
            <menuItem id="31" number='1' action='nieuweKlant'>Voeg nieuwe klant toe</menuItem>
            <menuItem id="32" number='2' action='wijzigKlant'>Zoek klant om te wijzigen</menuItem>
            <menuItem id="33" number='3' action='verwijderKlant'>Zoek klant om te verwijderen</menuItem>
            <menuItem id="34" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id="4" number='4' action='submenu' name='Bestellingen'>
            <menuItem id="41" number='1' action='nieuweBestelling'>Voeg nieuwe bestelling toe</menuItem>
            <menuItem id="42" number='2' action='wijzigBestelling'>Zoek klant om te wijzigen</menuItem>
            <menuItem id="43" number='3' action='verwijderBestelling'>Zoek klant om te verwijderen</menuItem>
            <menuItem id="44" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id='5' number='9' action='logout' name="Log uit"/>                                            
    </mainMenu>
    
    <mainMenu login='medewerker'>
        <menuItem id="1" number='1' action='submenu' name='Kazen'>
            <menuItem id="11" number='1' action='nieuwArtikel'>Voeg nieuwe kaas toe</menuItem>
            <menuItem id="12" number='2' action='wijzigKaas'>Zoek kaas om te wijzigen</menuItem>
            <menuItem id="13" number='3' action='verwijderKaas'>Zoek kaas om te verwijderen</menuItem>
            <menuItem id="14" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id="2" number='2' action='submenu' name='Accounts'>
            <menuItem id="21" number='1' action='nieuwAccount'>Voeg nieuw account toe</menuItem>
            <menuItem id="22" number='2' action='wijzigAccount'>Zoek account om te wijzigen</menuItem>
            <menuItem id="23" number='3' action='verwijderAccount'>Zoek account om te verwijderen</menuItem>
            <menuItem id="24" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id="3" number='3' action='submenu' name='Klanten'>
            <menuItem id="31" number='1' action='nieuweKlant'>Voeg nieuwe klant toe</menuItem>
            <menuItem id="32" number='2' action='wijzigKlant'>Zoek klant om te wijzigen</menuItem>
            <menuItem id="33" number='3' action='verwijderKlant'>Zoek klant om te verwijderen</menuItem>
            <menuItem id="34" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id="4" number='4' action='submenu' name='Bestellingen'>
            <menuItem id="41" number='1' action='nieuweBestelling'>Voeg nieuwe bestelling toe</menuItem>
            <menuItem id="42" number='2' action='wijzigBestelling'>Zoek klant om te wijzigen</menuItem>
            <menuItem id="43" number='3' action='verwijderBestelling'>Zoek klant om te verwijderen</menuItem>
            <menuItem id="44" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id='5' number='9' action='logout' name="Log uit"/>                                            
    </mainMenu>
    <mainMenu login='klant'>
        <menuItem id="2" number='2' action='submenu' name='Accounts'>
            <menuItem id="21" number='1' action='wijzigGebruiker'>Wijzig gebruikersnaam</menuItem>
            <menuItem id="22" number='2' action='wijzigWachtwoord'>Wijzig wachtwoord</menuItem>
        </menuItem>
        <menuItem id="4" number='4' action='submenu' name='Bestellingen'>
            <menuItem id="41" number='1' action='nieuweBestelling'>Voeg nieuwe bestelling toe</menuItem>
            <menuItem id="42" number='2' action='wijzigBestelling'>Zoek bestelling om te wijzigen</menuItem>
            <menuItem id="43" number='3' action='verwijderBestelling'>Zoek bestelling om te verwijderen</menuItem>
            <menuItem id="44" number='9' action='hoofdmenu'>Terug naar hoofdmenu</menuItem>            
        </menuItem>
        <menuItem id='5' number='9' action='logout' name="Log uit"/>                                            
    </mainMenu>
</root>
